.Navbar {
  display: flex;
  padding: 10px;

  &__wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    align-items: center;
    flex-grow: 1;
  }

  &__logo-section {
    width: 50px;
    aspect-ratio: 1;
    background: #333;
    display: grid;
    place-content: center;
    border-radius: 50%;

    > a {
      color: white;
    }
  }

  &__links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;

    ul {
      display: flex;
      gap: 0.5rem;
    }
  }
}
